body {
  font-family: 'Noto Sans JP', sans-serif;
  background: url('your-background.jpg') no-repeat center center/cover;
  background-color: #fff0f5;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-align: center;
}

header h1 {
  font-family: 'Cherry Bomb One', cursive;
  font-size: 80px;
  margin: 30px 0;
  color: #d8d101bb;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.event {
  background: #88854972;
  border-radius: 15px;
  padding: 15px 20px;
  margin: 10px 0;
  max-width: 500px;
  width: 100%;
  box-shadow: 2px 2px 8px rgba(126, 123, 123, 0.1);
}

.year {
  font-weight: bold;
  color: #ffffff;
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
}

.timeline .event {
  margin-bottom: 2em;
}

.hamburger-menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 9999;
}

.menu-icon {
  font-size: 30px;
  cursor: pointer;
  color: #ff69b4;
  display: block;
}

.menu {
  display: none;
  flex-direction: column;
  background: #fff0f5;
  position: absolute;
  top: 40px;
  right: 0;
  border: 1px solid #ffb6c1;
  border-radius: 10px;
  padding: 10px;
}
#menu-toggle {
  display: none;
}
